:local {
    .root {
        margin: 0 auto 15px;
        max-width: 980px;
        min-width: 800px;
        background: white;
    }

    .body {
        padding: 17px 32px;
        position: relative;

        .actions {
            position: absolute;
            right: 17px;
        }

        .title {
            font-size: 20px;
            padding: 0 0 24px 0;

            input {
                font-size: 20px;
            }
        }
    }

    .bottomPanel {
        background: #efefef;
        box-sizing: border-box;
        height: 80px;
        margin: 0 auto;
        padding: 21px 30px;

        * {
            vertical-align: sub;
        }
    }

    .label {
        color: #808080;
        display: inline-block;
        padding-bottom: 12px;
    }

    .value {
        display: inline-block;
        padding-bottom: 12px;

        .empty {
            color: #808080;
        }
    }
}
